.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-box h1 {
  font: 900 3rem Fraunces, serif;
  padding-bottom: 2rem;
  max-width: 15ch;
  color: var(--Very-dark-desaturated-blue);
}

 .information-box p {
  font: 600 1.125rem/1.5 Barlow, sans-serif;
  padding-bottom: 2.5rem;
  color: var(--grayish-blue);
  max-width: 45ch;
}

.information-box a {
  font: small-caps 900 1.25rem Fraunces, serif;
  position: relative;
  z-index: 1;
  color: var(--Very-dark-desaturated-blue);
}

.information-box a::after {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 8px;
  background: hsl(51, 100%, 89%);
  top: 17px;
  left: -5px;
  border-radius: 5px;
  z-index: -1;
}

.information-container:nth-of-type(2) a::after {
  background: hsl(7, 100%, 89%);
}

.picture-transform img {
  width: 100%;
  height: 100%;
}

.picture-stand-out img {
  width: 100%;
  height: 100%;
}

.penultimate-container-bg {
  background: url("../images/desktop/image-graphic-design.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  height: 87vh;
  position: relative;
}

.last-container-bg {
  background: url("../images/desktop/image-photography.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  height: 87vh;
  position: relative;
}

.last-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;
  width: 600px;
  text-align: center;
}

.last-container h1 {
  font: 900 2rem Fraunces, serif;
  color: var(--Dark-desaturated-cyan);
  padding-bottom: 2rem;
}

.last-container p {
  font: 600 1.125rem/1.5 Barlow, sans-serif;
  max-width: 37ch;
  text-align: center;
  justify-self: center;
  color: var(--Dark-desaturated-cyan);
}

.photography h1 {
  color: var(--Dark-blue) !important;
}

.photography p {
  color: var(--Dark-blue) !important;
}

.client-testimonials {
  background: hsl(210, 4%, 95%);
  padding-bottom: 8rem;
}

.client-testimonials h1 {
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 3.75rem;
  font: small-caps 700 2rem Fraunces, serif;
  letter-spacing: 0.2rem;
  color: var(--grayish-blue);
}

.avatar-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.avatar-container .avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-container .avatar-box p {
  max-width: 34ch;
  text-align: center;
  font: 600 1rem/1.5 Barlow, sans-serif;
  color: var(--Very-dark-grayish-blue);
  padding-bottom: 4rem;
}

.avatar-container .img-avatar {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.span-name {
  font: 900 1rem/1.5 Fraunces, serif;
  color: var(--Very-dark-desaturated-blue);
  padding-bottom: 0.625rem;
}

.span-profession {
  font: 600 0.875rem Barlow, sans-serif;
  color: var(--grayish-blue);
}

.avatar-box .avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.gallery-images {
  display: flex;
}

.gallery-images img {
  height: 100%;
}

.footer-bg {
  background: hsl(168, 34%, 60%);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  padding-top: 60px;
  padding-bottom: 24px;
}

.list-contacts ul {
  display: flex;
  gap: 48px;
  padding-bottom: 60px;
}

.list-contacts ul a {
  color: var(--Very-dark-grayish-blue);
  font: 600 1rem Barlow, sans-serif;
}

.list-contacts ul a:hover {
  color: var(--white);
}

.social-media {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 30px;
}

.social-media img:hover {
  filter: brightness(100);
}


@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }

  .main {
    padding: 0;
  }

  .information-box h1 {
    font: 900 2.5rem Fraunces, serif;
  }
}


@media (max-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: auto;
  }

  .information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    order: 1;
  }

  .picture-transform {
    order: 0;
  }

  .picture-stand-out {
    order: 2;
  }

  .media {
    order: 3 !important; 
  }

  .picture-transform img {
    width: 100%;
    height: 100%;
  }
  
  .picture-stand-out img {
    width: 100%;
    height: 100%;
  }

  .penultimate-container-bg {
    order: 5;
  }

  .last-container-bg {
    order: 6;
  }
}



@media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 0;
  }

  .picture-transform {
    order: 0;
  }

  .picture-stand-out {
    order: 2;
  }

  .picture-stand-out {
    padding-top: 3.75rem;
  }

  .information-container {
    position: relative;
    height: auto;
    order: 1;
    padding-bottom: 1rem;
  }

  .media  {
    order: 3 !important;
  }

  .information-box {
    position: relative;
  }

  .information-box h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    max-width: 13ch;
  }

  .information-box:nth-of-type(2) h1 {
    max-width: 11ch;
    margin-left: 4rem;
  }

  .information-box p {
    text-align: center;
    font-size: 1.25rem;
  }

  #reference-box-1 {
    padding-top: 3.75rem;
  }

  #reference-box-1 p {
    max-width: 34ch;
  }

  #reference-box-2 {
    padding-top: 3.75rem;
  }

  #reference-box-2 p {
    max-width: 31ch;
    margin-left: 3.75rem;
    display: block;
    margin: 0 auto;
  }

  .information-box a {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .penultimate-container-bg {
    margin-top: 3.75rem;
    order: 5;
  }

  .last-container {
    top: 100%;
    order: 6;
  }

  .last-container p {
    padding-bottom: 15rem;
  }
  
  .client-testimonials {
    padding-bottom: 3rem;
  }

  .client-testimonials h1 {
    padding-top: 5rem;
    font-size: 1.6rem;
  }

  .avatar-container {
    flex-direction: column;
  }

  .avatar-container .avatar-box {
    padding-bottom: 2.5rem;
  }

  .avatar-container .avatar-box p {
    max-width: 32ch;
    padding-bottom: 2rem;
  }

  .avatar-container .img-avatar {
    padding-bottom: 2rem;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}


